
 button{
  border-radius: 10px;
  padding: 10px 30px;
  cursor: pointer;
  background: red;
 }

button:hover{
  background: green;
}

img{
  width: 300px;
  border-radius: 50px;
}

#samoles{
  border: 2px solid white;
  width: 500px;
  height: 200px;
  margin: auto;
}

#samples{
 
  border: 2px solid white;
 text-align: center;
}

ul li{
  
  list-style-type: none;
}

ul {
  padding: 0;
}

#left{
  display: flex;
  border: 2px solid white;
  width: 500px;
  margin: auto;
  justify-content: space-between;
}