.trade-history {
    margin-top: 20px;
}

.trade-history ul {
    list-style-type: none;
    padding: 0;
}

.trade-history li {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}