#main{
  width: 1000px;
  height: 700px;
  background-color: green;
  margin:50px auto;
  text-align: center;
  align-items: center;
  /* display: flex; */
}

#parent{
  width: 800px;
  height: 500px;
  background-color: red;
  margin:50px auto;
  text-align: center;
  align-items: center;
  /* display: flex; */

}

#chaild{
  width: 600px;
  height: 350px;
  background-color: yellow;
  margin:50px auto;
  text-align: center;
  align-items: center;
  /* display: flex; */

}